@keyframes gradient {
  0% {
    left: -100%;
    opacity: 0;
  }

  30% {
    opacity: 1;
    left: 0;
  }

  90% {
    opacity: 1;
    left: 0;
  }

  90.1% {
    opacity: 0;
    left: -100%;
  }

  100% {
    opacity: 0;
    left: -100%;
  }
}


.fa-enter {
  opacity: 0;
}

.fa-enter-active {
  opacity: 1;
  transition: 2s ease-in-out;
}

.fa-leave-active {
  transition: .2s ease-in-out;
  opacity: 0;
}

.slideUp-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.slideUp-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: .5s cubic-bezier(.17,.67,.83,.67);
}

.slideUp-leave-active {
  transform: translateY(100%);
  transition: .5s cubic-bezier(.17,.67,.83,.67);
  opacity: 0;
}

.slideLeft-enter {
  transform: translateX(50%);
  opacity: 0;
}

.slideLeft-enter-active {
  transform: translateX(-50%);;
  opacity: 1;
  transition: .7s cubic-bezier(.5,-.75,.7,2);

  @media (max-width: 699px) {
    transform: translateX(0);
    transition: .5s ease;
  }
}

.slideLeft-leave-active {
  transform: translateX(50%);
  transition: .5s cubic-bezier(.22,.68,0,1.71);
  opacity: 0;
}

