@keyframes gradient {
  0% {
    left: -100%;
    opacity: 0;
  }

  30% {
    opacity: 1;
    left: 0;
  }

  90% {
    opacity: 1;
    left: 0;
  }

  90.1% {
    opacity: 0;
    left: -100%;
  }

  100% {
    opacity: 0;
    left: -100%;
  }
}
